body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.fitToWindow {
    width: 80%;
}

.chartContainer {
    position:relative;
    width: 90%;
    height: 350px;
    display: block;
}

.clearBoth {
    clear:both;
}

.miniChartContainer {
    clear:both;
    width:100%;
    display:block;

}
.miniChart {
    width: 200px;
    height: 200px;
    float:left;
    display:inline-block;
}

.miniChart .dygraph-title { font-size: 24px; text-shadow: green 1px 1px 1px; }

.innerChart {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
}

#tubChart {

}

.dataBrick {
    display:block;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #CCCCCC;*/
    float:left;
    border: 1px solid #ccc;
    margin: 15px;
    padding: 15px;
    width: 40%;
}

.dataBrick h3 {
    display:block;
    color: #999;
    font-size: 42pt;
    margin: 0;
}



.dataBrick .bigTemp {
    display:block;
    font-size: 36pt;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 5px;
}

.dataBrick text {
    color: #999;
    font-size: 24pt;
    font-weight: normal;
}

.dataBrick .lastHeardDate {
    font-size: 8pt;

    /*text-align: right;*/
    color: #999;
    /*display: inline-block;*/
}